/* styles/FunctionalityPageHeader.module.css */
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.imageContainer {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 20%;
  animation: slideIn 3s forwards;
}

.title {
  position: relative;
  z-index: 1;
  font-size: 3rem;
  color: #fff;
  margin-top: 15rem;
  padding: 0.5rem 1rem; /* Ajout de padding pour un fond transparent */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Ombre subtile pour le texte */
  border-radius: 5px; /* Bordure arrondie pour un effet plus doux */
}




@media (max-width: 1152px) {
  .title {
    margin-left: 10rem
  }
}
@media (min-width: 1152px) and (max-width: 1920px) {
  .title {
    justify-content: center;
  }
}





@keyframes slideIn {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}




/* styles/FunctionalityPage.module.css */
.pageContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.content {
  padding: 20px;
}
