

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}




.section h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  /* text-transform: lowercase; */
  position: relative;
  margin-top:17px;

}


.section h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 3px;
  background: var(--success);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}



.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 170px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.card h3{

  margin-bottom: 10px;
}


.card svg {
  max-width: 100%;
  height: auto;
}
