.background {
    position: absolute;
    background-color: white;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    left: 0px;
    top: 0px;
    z-index: -1; 
    width: 100%;
    height: 145%;
    /* background-size: cover; */
    background-repeat: repeat-x;
    /* -webkit-filter: blur(5px); Safari 6.0 - 9.0 */
    backdrop-filter: blur(5px);
    opacity: 1;
    min-height: 100%;
    max-width: 100vw;

}

/* The whole structure  of the Signup page */
.main {
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('/skyscraper.png') center center fixed no-repeat;
  background-size: cover; 
  height: 73vw;
  margin-top: -42%;
  margin-bottom: -70%;
  width: 100%;
 
} 

.global_row {
    padding-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}


.picture{
    margin-top: 15%;
    margin-bottom:8%;
}




/* ---------------- Begind  Responsive Management -------------------------  */

/* medium pc */
@media only screen and (min-width: 1280px) and (max-width: 1500px) {

    .main{
        height: 110vw;
        padding-top: 1%;
    }
    
    .global_row {
        margin-left: 10%;
        margin-right: 10%;
    }
     


}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {

    .main{
        height: 150vw;
        padding-top: 1%;
    }
    
    .global_row {
        margin-left: 10%;
        margin-right: 10%;
    }
     


}


@media only screen and (min-width: 991px) and (max-width: 1023px) {




}

@media only screen and (min-width: 912px) and (max-width: 990px) {
    .main{
        height: 233vw;
        padding-top: 55%;
    }
    
    .global_row {
        margin-left: 10%;
        margin-right: 10%;
    }
     
}

@media only screen and (min-width: 820px) and (max-width: 911px) {
    .main{
        height: 223vw;
        padding-top: 60%;
    }
    
    .global_row {
        margin-left: 10%;
        margin-right: 10%;
    }
     



}


@media only screen and (min-width: 800px) and (max-width: 819px) {
    .main{
        height: 180vw;
        padding-top: 57%;
    }
    
    .global_row {
        margin-left: 10%;
        margin-right: 10%;
    }
     

}

@media only screen and (min-width: 768px) and (max-width: 799px) {
    .main{
        height: 233vw;
        padding-top: 55%;
    }
    
    .global_row {
        margin-left: 10%;
        margin-right: 10%;
    }
     




}

@media only screen and (min-width: 712px) and (max-width: 767px) {
.main{
    height: 140vw;
    padding-top: 20%;
}

.global_row {
    margin-left: 10%;
    margin-right: 10%;
}
 

}



/*  Tablet  Mode */
@media only screen and (min-width: 540px) and (max-width: 711px) {
    .main{
        height: 230vw;
        padding-top: 70%;
    }
    
    .global_row {
        margin-left: 10%;
        margin-right: 10%;
    }
     


}

@media only screen and (min-width: 414px) and (max-width: 539px) {
    .main{
        height: 340vw;
        padding-top: 50%;
    }
    
    .global_row {
        margin-left: 10%;
        margin-right: 10%;
    }
     

}



/*  phone  Mode */
@media only screen and (min-width: 412px) and (max-width: 413px) {
    .main{
        height: 283vw;
        padding-top: 50%;
    }
    
    .global_row {
        margin-left: 10%;
        margin-right: 10%;
    }
     


}

@media only screen and (min-width: 390px) and (max-width: 411px) {
    .main{
        height: 300vw;
        padding-top: 50%;
    }
    
    .global_row {
        margin-left: 10%;
        margin-right: 10%;
    }
     



}

@media only screen and (min-width: 375px) and (max-width: 389px) {
    .main{
        height: 400vw;
        padding-top: 80%;
    }
    
    .global_row {
        margin-left: 10%;
        margin-right: 10%;
    }
     

 
}

@media only screen and (min-width: 360px) and (max-width: 374px) {
    .main{
        height: 420vw;
        padding-top: 90%;
    }
    
    .global_row {
        margin-left: 10%;
        margin-right: 10%;
    }
     

}



@media only screen  and (max-width: 359px) {
    .main{
        height: 595vw;
        padding-top: 90%;
    }
    
    .global_row {
        margin-left: 10%;
        margin-right: 10%;
    }
     


}

@media only screen and (max-width: 279px) {}


/* ---------------- End  Responsive Management -------------------------  */