/* DownloadApp.module.css */

.download-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  /* background-color: rgba(213, 224, 224, 0.973); */
  margin-top: auto;
  padding: 3rem;

}

.phone-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.phone-image {
  width: 300px; /* Ajustez la taille selon vos besoins */
  margin-right: 20px;
}

.phone-text {
  max-width: 400px; /* Ajustez la largeur selon vos besoins */
  text-align: center;
}

.button-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.store-button {
  display: inline-block;
  margin: 10px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: #37517e;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.store-button:hover {
  background-color: #0056b3;
}

.store-button img {
  vertical-align: middle;
  margin-right: 10px;
}

.qr-code-section {

  text-align: center;
  
  margin-left:8rem;
  margin-bottom: 2rem;
  
}

.qr-code-image {
  width: 400px; /* Ajustez la taille selon vos besoins */
  margin-bottom: 10px;
}

@media(max-width:567px){
  .qr-code-section{

    margin-left: 3em

  };


};
  

