
.container{
    width: 100%;
    position: relative;
    margin-top: 5%;
    margin-left: 1%;
}


.label{
    position: relative;
    left:15px;
    bottom:50px;
    transition: all 0.9s;
    z-index: 1;
    color: #2db6fe;
    padding: 4px;
}


.label_set{
    position: relative;
    left:15px;
    top:-50px;
    size: 15px;
    transition: all 0.9s;
    z-index: 1;
    color: red;
    background-color: #fff;
    padding: 4px;

}



.label_area{
    position: relative;
    left:15px;
    bottom:210px;
    transition: all 0.9s;
    z-index: 1;
    color: #2db6fe;
    padding: 4px;
}

.label_area_set{
    position: relative;
    left:15px;
    bottom:210px;
    transition: all 0.9s;
    z-index: 1;
    color: red;
    padding: 4px;
}




.input_text{
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    border: 2px solid #2db6fe;
    border-radius: 4px;
    background: #fff!important;
    font-size: 15px;
    outline: none;
    transition: all 0.3s;
    margin-bottom: 3px;
    color: black;

}



.input_text:focus{
    border:2px solid  #2DB6FE
}


.input_text:focus + .label{
    top:-73px;
    color:  #2DB6FE;
    font-size: 15px;
    background: #fff;
    opacity: 1;
    scale: 0.9;
}

.input_text:focus + .label_set{
    top:-73px;
    color:  red;
    font-size: 15px;
    background: #fff;
    opacity: 1;
    scale: 0.9;
}


.input_text:valid + .label{
    top:-75px;
    color:  green;
    font-size: 15px;
    background: #fff;

}

.input_text:valid + .label_set{
    top:-75px;
    color:  green;
    font-size: 15px;
    background: #fff;

}



.input_text:not(:placeholder-shown) + .label{
    top:-75px;
    font-size: 15px;
    background: #fff;

}


.input_text:not(:placeholder-shown) + .label_set{
    top:-75px;
    font-size: 15px;
    background: #fff;

}





.input_text:focus:valid + .label{
    top:-75px;
    color:  green;
    font-size: 15px;
    background: #fff;

}

.input_text:focus:valid + .label_area{
    top:-235px;
    color:  green;
    font-size: 15px;
    background: #fff;
}

.input_text:valid + .label_area{
    top:-235px;
    color:  green;
    font-size: 15px;
    background: #fff;
}

.input_text:valid + .label_area_set{
    top:-235px;
    color:  green;
    font-size: 15px;
    background: #fff;
}


.input_text:not(:placeholder-shown) + .label_area{
    top:-235px;
    font-size: 15px;
    background: #fff;
}

.input_text:not(:placeholder-shown) + .label_area_set{
    top:-235px;
    font-size: 15px;
    background: #fff;
}




.input_text:focus + .label_area{
    top: -233px;
    color: #2DB6FE;
    font-size: 15px;
    background: #fff; 
    scale: 0.9;
 
}

.input_text:focus + .label_area_set{
    top: -233px;
    color: red;
    font-size: 15px;
    background: #fff; 
    scale: 0.9;
 
}



.input_text::placeholder{
    font-size: 15px;
    opacity: 1;
    transition: all 0.3s;
    color: #2DB6FE;

}

.input_text:focus::placeholder{
    opacity: 0.5;
}



.input_text::placeholder {
    color: transparent;
  }

.input_text:focus::placeholder {
    color: #BABABA;
  }
