/* Refer to the container of this component */
.container {
    background-color: #11467e;
    color: white;
}

/* Main Column */
/* .main_col{
    margin-bottom: 2%;
} */

/* Devices image */
/* .devices_img {
    margin-top: 10%;
    margin-bottom: 2%;
} */

/* Style to center item */
/* .devices_img, .text_app, .download_btn, .store_btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
} */

/* Text at the bottom of devices image */
.text_app {
    font-size: 0.72vw;
    font-weight: bold;
    cursor: text;
}

/* Style for Download button  */
.download_btn,
.download_btn:hover {
    background-color: #03dac5 !important;
    border-color: transparent !important;
    /* width: 60%; */
    text-align: center;
    /* font-size: 22px; */
    font-weight: bold;
    border-radius: 18px;
}

.download_btn:hover {
    box-shadow: 0 2px 0  #acf9f2 !important;
     /* box-shadow: 0 3px 0 #03dac5; */
    /* margin-bottom: 1%; */
}

/* Style for the Store buttons(App Store and Playstore) */
.store_btn,
.store_btn:hover {
    background-color: transparent !important;
    border-radius: 20px;
    border-width: 1px;
    border-color: #ffffff !important;
    border-style: solid;
    /* width: 29%; */
    /* line-height: 1; */
    /* padding-top: 4%;
    padding-bottom: 4%; */
}

.store_btn:hover {
    box-shadow: 0 2px 0 white;
}

/* .col_store_img {
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 2%;
} */

.store_img {
    /* margin-left: -10%; */
    margin-right: 5%;
    width: 150%;
    /* padding-top: 15%; */
}

/* .col_store_name {
    margin-left: 2%;
} */

.store_title {
    font-size: 0.6vw;
    /* text-align: center; */
    /* line-height: 1; */
    /* margin-left: 8%; */
}

.store_name {
    /* text-align: center; */
    font-size: 1.3vw;
    /* white-space: nowrap; */
}