/* Refer to the container of this component */
.container {
    background-color: #062444;
    color: white;
    
}

/* Text at the bottom of devices image */
.text_app {
    /* font-size:medium; */
    font-weight: bold;
    cursor: text;
}

/* Style for Download button  */
.download_btn,
.download_btn:hover {
    background-color: #03dac5 !important;
    border-color: transparent !important;
    text-align: center;
    /* font-size: 22px; */
    font-weight: bold;
    border-radius: 18px;
}

.download_btn:hover {
    box-shadow: 0 2px 0  #acf9f2 !important;
}

/* Style for Store section */
.store {
    gap: 2%;
}

/* Style for the Store buttons(App Store and Playstore) */
.store_btn,
.store_btn:hover {
    background-color: transparent !important;
    border-radius: 20px;
    border-width: 1px;
    border-color: #ffffff !important;
    border-style: solid;
}

.store_btn:hover {
    box-shadow: 0 2px 0 white;
}


.store_img {
    margin-right: 5%;
    width: 150%;
}

.store_title {
    font-size:smaller;
}

.store_name {
    text-align: center;
    font-size:larger;
    /* white-space: nowrap; */
}

@media (max-width:725px){

    .download_section{
        padding-left: 4%;
        padding-right: 4%;
    }

    .store_title{
        font-size: 2vw;
    }

    .store_name{
        font-size: 3vw;
    }
}

@media (min-width:760px){

    .store_title{
        font-size: 0.9vw;
    }

    .store_name{
        font-size: 1.9vw;
        text-align: left;
    }
}

@media (min-width: 1200px){

    .download_section{
        padding-left: 5%;
        padding-right: 5%;
    }

    .store{
        gap: 5% !important;
    }
}