/* Refer to the container of this component */
.container {
    height: auto;
    background-color: #11467e;
    color: white;
}

/* Main Column */
.main_col{
    margin-bottom: 2%;
}

/* Devices image */
.devices_img {
    margin-top: 10%;
    margin-bottom: 2%;
}

/* Style to center item */
.devices_img, .text_app, .download_btn, .store_btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Text below devices image */
.text_app {
    text-align: center;
    margin-bottom: 5%;

}

.download_btn,
.download_btn:hover {
    background-color: #03dac5 !important;
    border-color: transparent !important;
    height: 18%;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.download_btn:hover {
     box-shadow: 0 3px 0 #03dac5;
     margin-bottom: 1%;
}

.store_col {
    margin-top: 2%;
}

.store_btn,
.store_btn:hover {
    background-color: transparent !important;
    border-radius: 25px;
    border-color: white !important;

}

.store_btn:hover {
    box-shadow: 0 3px 0 white;
}

.store_img {
    margin-right: 5%;
    margin-top: 5%;

}