html {
  scroll-behavior: smooth;
  /*Adds smooth scrolling instead of snapping to element*/
}

/* Fonts */
:root {
  --default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Jost", sans-serif;
  --nav-font: "Poppins", sans-serif;
}

/* Global Colors */
:root {
  --background-color: #ffffff;
  --background-color-rgb: 255, 255, 255;
  --default-color: #444444;
  --default-color-rgb: 68, 68, 68;
  --heading-color: #37517e;
  --heading-color-rgb: 55, 81, 126;
  --accent-color: #47b2e4;
  --accent-color-rgb: 71, 178, 228;
  --contrast-color: #ffffff;
  --contrast-color-rgb: 255, 255, 255;
}

/* Nav Menu Colors */
:root {
  --nav-color: #ffffff;
  --nav-hover-color: #47b2e4;
  --nav-dropdown-color: #444444;
  --nav-dropdown-hover-color: #47b2e4;
  --nav-dropdown-background-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: rgba(var(--accent-color-rgb), 0.75);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: white;
  }
  body {
    color: black;
    background: white;
  }
}
