@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
html {
  scroll-behavior: smooth;
  /*Adds smooth scrolling instead of snapping to element*/
}

/* Fonts */
:root {
  /* --default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Jost", sans-serif;
  --nav-font: "Poppins", sans-serif; */
  --font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Global Colors */
:root {
  --background-color: #ffffff;
  --background-color-rgb: 255, 255, 255;
  --default-color: #444444;
  --default-color-rgb: 68, 68, 68;
  --heading-color: #11467E;
  --heading-color-rgb: 55, 81, 126;
  --accent-color: #47b2e4;
  --accent-color-rgb: 71, 178, 228;
  --contrast-color: #ffffff;
  --contrast-color-rgb: 255, 255, 255;
  --primary : #11467e;
  --success : #008543;
  --secondary: #1583D8;
  --primary-rgb : 17, 70, 126;

  --semi-grey : #a5acb2;

  --solo : #efb60a;
  --standard : #2DB6FE;
  --medium : var(--success);
  --premium : #5752D1;

  --sky-blue: #95DAFE;
  --steel-blue: #56A0C5;
  --azure-blue: #2DB6FE;
}

/* Nav Menu Colors */
:root {
  --nav-color: #11467E;
  --nav-hover-color: #47b2e4;
  --nav-dropdown-color: #444444;
  --nav-dropdown-hover-color: #47b2e4;
  /* --nav-dropdown-background-color: #ffffff; */
}


/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--font-family) !important;
  font-weight: 400;
  font-style: normal;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: rgba(var(--accent-color-rgb), 0.75);
  text-decoration: none;
}

h1,
h2,
h3,
/* h4, */
h5,
h6 {
  color: var(--primary);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: white;
  }
  body {
    color: black;
    background: white;
  }
}
