.navbar {
    /* position:relative; */
    /* margin-top: 1%; */
    padding-top: 1%;
    padding-bottom: 0.8%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 0 3px 0 #e2f4f2; /* Line for the Header */
    overflow: hidden !important;
    position: fixed !important;
    top: 0 !important;
    width: 100%;
    z-index: 9999;
}

.logo{
    margin-right: 5em;
    width: 25%;
}

/* Style for menu */
.menu {
    font-size: 135%;
    text-align: center;
    white-space: nowrap;
    padding-left: 2%;
    padding-right: 2%;
    /* padding-bottom: -10%; */
    box-shadow: 0 2px 0 #03dac5; /* Line for menu items */
}

/* Style for the space between menu items */
.menu_item_space{
    margin-right: 40px;
}

/* Style for menu items(Home, About, Offers, Contact) */
.menu_item{
    color: #11467e !important;
    opacity: 1;
    text-decoration: none;
    margin-bottom: 0;
}

.menu_item:visited{
    color: #11467e !important;
}

.menu_item:hover{
    color: #03dac5 !important;
    line-height: 1.5;
    text-underline-offset: 15%;
}

/* Style for the active menu item */
.active{
    color: #03dac5 !important;
    line-height: 1.5;
    margin-bottom: 2px;
    box-shadow: 0 6px 0 #03dac5; /*Line for active menu item */
    opacity: 1;
}


/* Common Style for Login and Sign up buttons */
.login_btn, .signup_btn {
    font-size: 18px;
    width: 180px;
    height: 40px;
    opacity: 1;
}

/* Login Button */
.login_btn,
.login_btn:hover {
    background-color: white !important;
    color: #11467e !important;
    border-color: #03dac5 !important;
    margin-right: 5%;
}

.login_btn:hover{
    color: #03dac5 !important;
}

.login_btn:hover,
.signup_btn:hover{
    box-shadow: 0 3px 0  #acf9f2 !important;
}

/* Signup Button */
.signup_btn,
.signup_btn:hover {
    background-color: #03dac5 !important;
    color: #11467e !important;
    border-color: transparent !important;
}

.signup_btn:hover{
    color: #e2f4f2 !important;
}

/* This part is reserved for Responsive */
/* @media (max-width: 991px) {

}

@media (max-width: 768px) {
    
} */

@media (max-width: 1200px) {

    .navbar {
        padding-top: 1%;
        padding-bottom: 0.8%;
        padding-left: 2%;
        padding-right: 2%;
        width: 100%;
        z-index: 9999;
    }

    .logo{
        margin-right: 3em;
        width: 25%;
    }

    /* Style for menu */
    .menu {
        font-size: 120%;
        text-align: center;
        white-space: nowrap;
        padding-left: 2%;
        padding-right: 2%;
        /* padding-bottom: -10%; */
        box-shadow: 0 2px 0 #03dac5; /* Line for menu items */
    }

    .menu_item_space{
        margin-right: 20px;
    }

    /* Common Style for Login and Sign up buttons */
    .login_btn, .signup_btn {
        font-size: 17px;
        width: 120px;
        height: 35px;
        padding-bottom: 1.7em;
        opacity: 1;
    }
}

@media (max-width: 990px) {

    .navbar {
        /* position:relative; */
        /* margin-top: 1%; */
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 2%;
        padding-bottom: 3%;
        overflow: hidden !important;
        position: fixed !important;
        top: 0 !important;
        width: 100%;
        display: flex;
    }

    .menu_icon {
        color: transparent !important;
        border-color: #11467e !important;
    }

    .menu_item:visited {
        color: transparent !important;
        border-color: transparent !important;
    }

    .menu {
        padding-left: 0%;
        padding-right: 0%;
        /* display: flex; */
        font-size: 17px;
        text-align: justify;
        white-space: nowrap;
        /* padding-left: 0%;  */
        /* padding-bottom: -10%; */
        box-shadow: none;
        width: 40%;
    }

    .active {
        /* color: #03dac5 !important; */
        line-height: 1.5;
        /* margin-right: 5%; */
        margin-bottom: 2px;
        opacity: 1;
        box-shadow: none;
    }

    /* Common Style for Login and Sign up buttons */
    .login_btn, .signup_btn {
        font-size: 15px;
        width: 120px;
        height: 30px;
        opacity: 1;
        padding-bottom: 1.7em;
    }
}

@media (max-width: 1400px) {

    .logo{
        margin-right: 2em;
        width: 30%;
    }

    .menu{
        margin-right: 5% !important;
    }
}












  