.main {
    /* position:fixed; */
    margin-top: 2%;
    margin-right: 5px;
    padding: 5% !important;
    margin-top: 1%;
    direction: rtl;
    position: fixed;
    top: 0;
    width: 100%;

}

.list_lang{
    background-color: transparent !important;
    width: 5%;
    align-items: center;
    margin-left: 4em !important;
    float: none;
    /* visibility: hidden; */
    
}

.lang {
   background-color: transparent !important;
   border-color: transparent;
}

.selected_lang{
    border-radius: 100% !important;
    height: 55px;
    margin-right: 20% !important;
    cursor: pointer !important;
}

.flag {
    width: 100%;
    height: 55px;
    border-radius: 100%;
    
}

.hidden_active_lang{
    visibility: hidden;
     margin-top: -3% !important;
}

.hidden_list_lang{
    visibility: hidden;
}