.main {
    margin-top: 2%;
    /* margin-right: 5% !important; */
    margin-left: 82%;
    padding: 5% !important;
    margin-top: 1%;
    /* direction: rtl; */
    position: fixed;
    top: 0;
    width: 18%;
    /* z-index: 9999; */
}

/* .container {
    width: 100%;
} */

.list_lang{
    background-color: transparent !important;
    /* width: 5%; */
    /* align-items: center; */
    margin-left: 4em !important;
    margin-top: -38%;
    height: 20px !important;
    /* float: right; */
}

.btn_lang {
    height: 70%;
    width: 100%;
    padding-bottom: 25%;
    border-radius: 5em!important;
    font-size: 30px;
    color: transparent;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
}

.btn_lang:hover {
    border-color: transparent;
}

.active_lang {
    width: 40% !important;
    margin-left: 30%;
}

.lang {
   background-color: transparent !important;
   height: 70px;
   align-items: flex-start !important;
   align-content: center !important;
   border-color: transparent;
   
}

.lang_name{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 1% !important;
    width: 50%;
    height: 60%;
}

.fr:hover{
    background-color: blue !important;
}

.selected_lang{
    border-radius: 100% !important;
    height: 50px;
    margin-right: 20% !important;
    cursor: pointer !important;
}

.flag {
    width: 40%;
    height: 50px;
    border-radius: 100%;
    margin-right: 5%;
    margin-top: -12%;
    /* margin-bottom: 14%; */
    margin-left: -45%;
}

.hidden_active_lang{
    visibility: hidden;
     margin-top: 5% !important;
}

.hidden_list_lang{
    visibility: hidden;
    /* margin-bottom: 4% !important; */
}

.dark_blue, .dark_blue:hover {
    background-color: #11467e !important;
    color: white;
}

.dark_red, .dark_red:hover {
    background-color: rgb(168, 3, 3) !important;
    color: white;
}

.dark_yellow, .dark_yellow:hover {
    background-color: rgb(246, 196, 70) !important;
    color: white;
}

.green, .green:hover {
    background-color: green !important;
    color: white;
}

.dark_blue_hover:hover {
    background-color: #11467e !important;
}

.dark_red_hover:hover {
    background-color: rgb(168, 3, 3) !important;
}

.dark_yellow_hover:hover {
    background-color: rgb(246, 196, 70) !important;
}

.green_hover:hover {
    background-color: green !important;
}

