

.section_title {
    text-align: justify;
    padding-bottom: 60px;
    position: relative;
}

.section_title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    position: relative;
}


.section_title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 3px;
    background: var(--success);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}






.container {
    padding: 20px;
    max-width: 1340px;
    margin: 0 auto; /* Centre le composant horizontalement */
  }
  
  .columnHeader {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    padding-left:0px;
    font-weight: bold;
    color: black; /* Couleur du titre de la colonne des fonctionnalités */
  }
  
  .featureColumn {
    width: 200px; /* Largeur de la colonne des caractéristiques */
    text-align: left;
    margin-left:0px
  }
  
  .planColumn {
    text-align: center;
    font-weight: bold;
  }
  
  .soloTitle {
    color: var(--solo); /* Couleur de l'offre Solo */
  }
  
  .standardTitle {
    color: var(--standard); /* Couleur de l'offre Standard */
  }
  
  .mediumTitle {
    color: var(--medium); /* Couleur de l'offre Medium */
  }
  
  .premiumTitle {
    color: var(--premium); /* Couleur de l'offre Premium */
  }
  
  .solo {
    color: var(--solo); /* Couleur de l'offre Solo */
    font-size: 18px; /* Taille de police pour Solo */
  }
  
  .standard {
    color: var(--standard); /* Couleur de l'offre Standard */
    font-size: 18px; /* Taille de police pour Standard */
  }
  
  .medium {
    color: var(--medium); /* Couleur de l'offre Medium */
    font-size: 18px; /* Taille de police pour Medium */
  }
  
  .premium {
    color: var(--premium); /* Couleur de l'offre Premium */
    font-size: 18px; /* Taille de police pour Premium */
  }
  