/*-----------span---imported css form ---------------------*/


.errorMsg {
    color: red;
    width: 100%;
    padding: 1%;
    margin-top: -40px;
    margin-bottom: 2.5%;
    z-index: 1;
}



.disable {
    display: none;
}

/*--------------end imported css form ---------------------*/


.form {
    padding-left: 15%;
    padding-right: 15%;
}


.row_center {
    margin-top: 5%;
    width: 94%;
    margin-bottom: 10%;

}

.groupA,
.groupB {
    width: 130%;
}



.box_pwd {
    height: 12%;
    margin-bottom: -8%;
    width: 1vw;
    margin-left: 10%;
}



.txt {

    width: 100%;
    margin-bottom: 15%;
    margin-left: 1%;



}

.txt_blue {
    color: #2DB6FE;
    font-size: larger;

}


.txt_green {
    color: #03DAC5;
    font-size: larger;
}

.checkbox {
    width: 15%;
    height: 65%;
    margin-left: -4%;

}

.box_left {
    width: 50%;
}

.remember,
.forgot_pwd,
.btn,
.blue,
.subtitle {
    color: #1583D8;
}

.subtitle {
    padding-left: 10%;
    padding-right: 10%;
}

.remember {}

.btn {
    width: 100%;
    background-color: #F2FBFF;
    border: 2px solid #DEF4FF;
    font-size: 100%;
    font-weight: bold;
    text-align: center;

}

.btn:hover {
    background-color: rgb(3, 218, 197);
    border: 2px solid#DEF4FF;
    box-shadow: 2px 2px #2DB6FE
}

.blue {
    font-size: 150%;
    font-weight: bold;
}

.hide {
    display: none;
}


.box_remember {
    width: 100%;
    display: flex;
}

.box_help {
    width: 75%;
    margin-left: 10%;
}







/* ---------------- Begind  Responsive Management -------------------------  */

/*  Tablet   */
@media only screen and (min-width: 1025px) and (max-width: 1300px) {

    .groupB {
        width: 135%;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1024px) {

    .groupB {
        width: 137%;
    }

}

/*  Tablet  Nexus */
@media only screen and (min-width: 912px) and (max-width: 991px) {

    .groupB {
        width: 130%;
    }

}

@media only screen and (min-width: 711px) and (max-width: 911px) {



    .txt_blue,
    .txt_green {
        font-size: large
    }

    .box_left {
        width: 100%;
        margin-top: -1%;
    }


    .forgot_pwd {
        margin-left: 12%;
    }


    .remember {
        padding-left: 1.5%;
    }



    .groupB {
        width: 130%;
    }


}

/*  Tablet  Mode */
@media only screen and (min-width: 540px) and (max-width: 711px) {
    .groupB {
        width: 133%;
    }

}

@media only screen and (min-width: 360px) and (max-width: 539px) {



    .txt_blue,
    .txt_green {
        font-size: large
    }

    .box_left {
        width: 100%;
    }


    .forgot_pwd {
        margin-left: 12%;
    }

    .groupB {
        width: 137%;
    }




}



/*  phone  Mode */
@media only screen and (min-width: 281px) and (max-width: 360px) {
    .groupB {
        width: 138%;
    }

}

@media only screen and (max-width: 280px) {

    .groupB {
        width: 152%;
    }


    .groupA {
        width: 142%;
    }

    .blue {
        font-size: 5vw;

    }

    .forgot_pwd {
        margin-right: -7%;
    }


    .box_left {
        width: 200vw;


    }

    .btn {
        font-size: 3vw;

    }

    .box_help {
        margin-top: -10%;
    }


    .box_pwd {
        margin-bottom: -20%;

    }

    .btn {
        width: 100%;
    }

    .txt_blue,
    .txt_green {
        font-size: medium
    }




}

/* ---------------- End  Responsive Management -------------------------  */