  /* The whole structure  of the Signup page */
  .main {
    /*   background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)),url('/signup/immeuble2.png') center center fixed no-repeat;*/
    background-size: cover;
    margin-bottom: -12%;
    padding-top: 1%;
    margin-top: -4%;
    padding-bottom: 5%;
    min-width: 240px;
  }

  .background {
    background-color: white;
  }

  .section {

    margin-top: 50%;


  }

  .stepper_one {
    margin-top: -71%;
    justify-content: center;
    margin-bottom: 11%;


  }

  .stepper_two {
    margin-top: -79%;
    justify-content: center;
    margin-bottom: 11%;
  }

  .stepper_three {
    margin-top: -93%;
    justify-content: center;
    margin-bottom: 18%;

  }

  .stepper_three_company{
    margin-top: -60%;
    justify-content: center;
    margin-bottom: 11%;
  }

  .stepper_four {
    margin-top: -90%;
    justify-content: center;
    margin-bottom: 21%;

  }

  .stepper_five {
    margin-top: -75%;
    margin-bottom: 21%;
    justify-content: center;

  }


  @media only screen and (max-width: 384px) {

    .stepper_five {
      margin-top: -290%;
      margin-bottom: 22%
    }

  }


  /* ---------------- Begind  Responsive Management -------------------------  */

  /* medium pc */
  @media only screen and (min-width: 1280px) and (max-width: 1500px) {
    .stepper_three_company{
      margin-top: -120%;
      margin-bottom: 45%;


    }

  }
  @media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .stepper_three_company{
      margin-top: -108%;
      margin-bottom: 25%;
    }

     .stepper_five {
      margin-top: -110%;

    }
  

  }

  @media only screen and (min-width: 991px) and (max-width: 1023px) {
    .stepper_three_company{
      margin-top: -118%;
      margin-bottom: 25%;


    }

  }

  @media only screen and (min-width: 912px) and (max-width: 990px) {

    .main {
      padding-bottom: 45.8%;
    }

    .section {
      margin-top: -1%;

    }


    /* Begind  for step  */
    .stepper_one {
      margin-top: -130%;
      margin-bottom: -18%;
    }

    .stepper_two {
      margin-top: -90%;
      margin-bottom: -29%;
    }

    .stepper_three {
      margin-top: -96%;
      margin-bottom: -30%;
    }
    .stepper_three_company{
      margin-bottom: -28%;

    }
    .stepper_four {
      margin-bottom: -27%;
  
    }

    .stepper_five {
      margin-bottom: -20%;
      margin-top:-110% ;
    }
  

    /* End  for step  */


  }

  @media only screen and (min-width: 820px) and (max-width: 911px) {

    .main {
      padding-bottom: 34%;
    }

    .section {
      margin-top: -1%;

    }


    /* Begind  for step  */
    .stepper_one {
      margin-top: -130%;
      margin-bottom: 18%;
    }

    .stepper_two {
      margin-top: -130%;
      margin-bottom: -5%;
    }

    .stepper_three {
      margin-top: -96%;
      margin-bottom: -18%;
    }
    .stepper_three_company{
      margin-top: -115%;
      margin-bottom: -5%;

    }

    .stepper_four {
      margin-bottom: -22%;
  
    }
    .stepper_five {
      margin-bottom: -15%;
      margin-top:-100% ;
    }
  
    /* End  for step  */



  }


  @media only screen and (min-width: 800px) and (max-width: 819px) {

    .main {
      padding-bottom: 51%;
    }

    .section {
      margin-top: -1%;

    }

    /* Begind  for step  */
    .stepper_one {
      margin-top: -110%;
      margin-bottom: -29%;
    }

    .stepper_two {
      margin-top: -85%;
      margin-bottom: -42%;
    }

    .stepper_three {
      margin-top: -125%;
      margin-bottom: -32%;
    }

    .stepper_three_company{
      margin-bottom: -32%;
    }
    .stepper_four {
      margin-top: -75%;
      margin-bottom: -41%;
  
    }

    .stepper_five {
      margin-bottom: -35%
    }

    /* End  for step  */
  }

  @media only screen and (min-width: 768px) and (max-width: 799px) {

    .main {
      padding-bottom: 17%;
    }

    .section {
      margin-top: -1%;

    }

    /* Begind  for step  */
    .stepper_one {
      margin-top: -130%;
      margin-bottom: 1%;
    }

    .stepper_two {
      margin-top: -110%;
      margin-bottom: -1%;
    }
    .stepper_three_company{
      margin-top: -115%;
      margin-bottom: -5%;

    }

    .stepper_four {
      margin-bottom: -2%;
  
    }

    .stepper_five {
      margin-bottom: 10%;
      margin-top:-110% ;
    }
  
    /* End  for step  */




  }

  @media only screen and (min-width: 712px) and (max-width: 767px) {

    .main {
      padding-top: 50%;
    }

    .section {
      margin-top: -1%;


    }

    /* Begind  for steps  */
    .stepper_one {
      margin-top: -100%;
      margin-bottom: 28%;
    }

    .stepper_two {
      margin-top: -135%;
      margin-bottom: 20%;
    }
    .stepper_three_company{
      margin-top: -135%;
      margin-bottom: 20%;
    }

   

    /* End  for step  */

  }



  /*  Tablet  Mode */
  @media only screen and (min-width: 540px) and (max-width: 711px) {
    .main {

      padding-bottom: 10%;

    }

    .section {
      margin-top: -10%;

    }


    /* Begind  for step  */
    .stepper_one {
      margin-top: -139%;
    }

    .stepper_two {
      margin-top: -190%;
      margin-bottom: 26%;
    }

    .stepper_three_company{
      margin-top: -110%;
      margin-bottom: 15%;
    }

    .stepper_five {
      margin-bottom: 17%;

    }
  


  

    /* End  for step  */



  }

  @media only screen and (min-width: 414px) and (max-width: 539px) {
    .main {

      padding-bottom: 51%;

    }

    .section {
      margin-top: 40%;

    }

    /* Begind  for step  */
    .stepper_one {
      margin-top: -51%;
    }

    .stepper_two {
      margin-top: -96%;
      margin-bottom: -34%;
    }

    .stepper_three {
      margin-top: -96%;
      margin-bottom: -34%;
    }

    .stepper_three_company{
      margin-top: -90%;
      margin-bottom: -35%;
    }

    .stepper_four {
      margin-bottom: -22%;
  
    }
    .stepper_five {
    margin-bottom: -10%;
    margin-top: -170%;
    }


    /* End  for step  */


  }




  /*  phone  Mode */
  @media only screen and (min-width: 412px) and (max-width: 413px) {

    .main {
 
      padding-bottom: 56%;

    }

    .section {
      margin-top: 40%;

    }

    /* Begind  for step two */
    .stepper_one {
      margin-top: -170%;
      margin-bottom: 10%;
    }

    .stepper_two {
      margin-top: -200%;
      margin-bottom: -25%;
    }
    .stepper_three {
      margin-top: -96%;
      margin-bottom: -34%;
    }
    .stepper_three_company{
      margin-top: -180%;
      margin-bottom: -25%;
    }

    .stepper_four {
      margin-bottom: -27%;
  
    }

    .stepper_five {
      margin-bottom: -15%;
      margin-top:-100% ;
    }
  



    /* End  for step two */




  }

  @media only screen and (min-width: 390px) and (max-width: 411px) {

    .main {

      padding-bottom: 55%;

    }

    .section {
      margin-top: 30%;

    }

    /* Begind  for step  */
    .stepper_one {
      margin-top: -160%;
      margin-bottom: 0%;
    }

    .stepper_two {
      margin-top: -75%;
      margin-bottom: -44%;
    }

    .stepper_three {
      margin-top: -96%;
      margin-bottom: -34%;
    }

    .stepper_three_company{
      margin-bottom: -47%;
      margin-top: 10%;
    }
    .stepper_four {
      margin-bottom: -27%;
  
    }
    .stepper_five {
      margin-bottom: -10%;
      margin-top: -110%;
    }
  


    /* End  for step  */


  }

  @media only screen and (min-width: 375px) and (max-width: 389px) {

    .main {

      padding-bottom: 16%;

    }

    .section {
      margin-top: -1%;

    }

    /* Begind  for step  */
    .stepper_one {
      margin-top: -150%;
      margin-bottom: 10%;
    }

    .stepper_two {
      margin-top: -120%;
      margin-bottom: 2%;
    }

    .stepper_three_company{
      margin-top: -115%;
    }

    .stepper_five {
      margin-bottom: 30%;
      margin-top: -185%;
    }


    /* End  for step  */

  }

  @media only screen and (min-width: 360px) and (max-width: 374px) {

    .main {

      padding-bottom: 20%;

    }

    .section {
      margin-top: -1%;

    } 

    /* Begind  for step  */
    .stepper_one {
      margin-top: -170%;
      margin-bottom: 10%;
    }

    .stepper_two {
      margin-top: -175%;
      margin-bottom: 15%;
    }
    .stepper_three_company{
      margin-top: -180%;
    }

    .stepper_four {
      margin-bottom: 20%;
  
    }

    .stepper_five {
      margin-bottom: 25%;
      margin-top:-200% ;
    }
  


  }



  @media only screen and (min-width: 280px) and (max-width: 359px) {

    .main {

      padding-bottom: 22.9%;

    }

    .section {
      margin-top: -1%;

    }




    /* Begind  for step  */
    .stepper_one {
      margin-top: -199%;
    }

    .stepper_two {
      margin-top: -149%;
      margin-bottom: 10%;
    } 

    .stepper_three_company{
      margin-top: -90%;
      margin-bottom: 15%;
    }
    .stepper_four {
      margin-bottom: 56%;
      margin-top: -130%;
  
    }

    .stepper_five {
      margin-bottom: 70%;
      margin-top: -300%;

    }
  

    /* End  for step  */


  }

  @media only screen and (max-width: 279px) {

    .main {

      padding-bottom: 100%;

    }

    .section {
      margin-top: 38%;

    }


  }

  /* ---------------- End  Responsive Management -------------------------  */