/* The whole structure  of the Signup page */
.main {
  /*  padding-left: 6%;
    padding-right: 6%;*/
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: -5%;
    height: 80%;
    margin-top: -20%;
    margin-left: -1%;
    width: 102%;

}

.stepper_one{
  margin-top: -41%;
}

.stepper_two{
  margin-top: -82%;
  margin-left: 2%;
  margin-bottom: 11%;
}

.stepper_three{
  margin-top: -93%;
  margin-left: 2%;
  margin-bottom: 22%;

}

.stepper_four{
  margin-top: -90%;
  margin-left: 2%;
  margin-bottom: 21%;

}

.stepper_five{
  margin-top: -75%;
  margin-left: 2%;
  margin-bottom: 21%;

}


@media only screen and (max-width: 384px) {

    .stepper_five{
      margin-top: -290%;
      margin-left: 2%;
      margin-bottom: 22%
    
     }
     
}
