.main{
  margin-top: -1.7vw;
  width: 100%;
  background-color:#ffff; 
  min-width: 255px;



}

.background {
  position: absolute;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  left: 0px;
  top: 9%;
  z-index: -1; 
  width: 100%;
  height: 100%;
  /* background-size: cover; */
  background-repeat: repeat-x;
  /* -webkit-filter: blur(5px); Safari 6.0 - 9.0 */
  backdrop-filter: blur(5px);
  opacity: 1;
  min-height: 100%;
  max-width: 100vw;
}

.section{
 background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/skyscraper.png') center center fixed no-repeat;
 background-size: cover;
 width: 100%;
 height: 100%;
 padding-bottom: 2%;



}

.picture{
    margin-top: 8%;
    margin-bottom:5%;
    margin-left: 17vw;
    width: 10%;
    height: 8%;
}

.box_btn{
  margin-top: 45.2%;

}

.btn_welcome_back{
 background-color:rgba(60,158,164,0.8) ;
 border-radius: 40px ;
 border: 2px solid #F2FBFF;
 padding: 2%;
 width: 40%;
 font-weight: bold;
}


/* ---------------- Begind  Responsive Management -------------------------  */

 /* medium pc */
 @media only screen and (min-width: 991px) and (max-width: 1500px) {

  .picture{
    width: 10%;
    height: 7%;
 
  }


  .box_btn{
    margin-top: 2%;

  }

  .section{
    padding-bottom: 5%;
   }
   


}

 /*  Tablet  Mode Nexus 10 */
 @media only screen and (min-width: 712px) and (max-width: 991px) {

  .picture{
    width: 9%;
    height: 9%;
    margin-top: 3%;
    margin-bottom:3%;
    margin-left: 45%;
  }


  .box_btn{
    margin-top: 2%;

  }


}



/*  Tablet  Mode */
@media only screen and (min-width: 361px) and (max-width: 711px) {    
 
    
  .picture{
    width: 9%;
    height: 5%;
    margin-top: 3%;
    margin-bottom:3%;
    margin-left: 45%;
  }
  
  .box_btn{
    margin-top: 2%;

  }


   
}




/*  phone  Mode */
@media only screen and (max-width: 360px) {

  .picture{
    width: 10%;
    height: 5%;
    margin-top: 5%;
    margin-bottom:5%;
    margin-left: 45%;
  }

  .box_btn{
    margin-top: 1%;
  }


  
     
}

/* ---------------- End  Responsive Management -------------------------  */
