/*--------------imported css form ---------------------*/


.item {
    width: 100%;
    height: 5%;
    border-radius: 5px;
    padding: 2%;
    margin: 1%;
    border: solid #2DB6FE
}

.item:focus {

    border: solid #2DB6FE !important;
}

.errorMsg {
    color: red;
    width: 100%;
    padding: 1%;
    margin-top: -40px;
    margin-bottom: 2.5%;
    z-index: 1;
}

.text {
    margin-left: 10px;
    size: 3ch;
    font-family: 'Arial Narrow', Arial, sans-serif;
}


.section {
    width: 100%;
    height: 80%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-top: solid #2DB6FE;
    border-bottom: solid #2DB6FE;
    background-color: #fff;

}

.card {
    margin-left: -210px;
    margin-top: 230px;
}

.submit {
    width: 100%;
    height: 5%;
    border-radius: 5px;
    padding: 2%;
    margin-top: 15%;
    border: 2px solid #ffff;
    box-shadow: 2px 2px #2DB6FE;
    background-color: rgb(3, 218, 197);
    color: #ffff;
    font-weight: bold;
}


.disable {
    display: none;
}

/*--------------end imported css form ---------------------*/


.form{
    min-width: 40vw;
}

.picture {
    opacity: 0.4;
}



.title {
    font-size: large;
    color: #2DB6FE;
    font-size: larger;
    margin-top: 3%;
    font-weight: bolder;
}


.row_center {
    margin-top: 5%;
    margin-bottom: -12%;
}

.box_flex {
    display: flex;
    margin-bottom: 12%;
}

.box_left {
    margin-right: 2%;
    height: 100%;
    width: 49%;
}
.box_right{
    width: 49%;
    height: 100%;

}

.box_adress{
    height: 20%;
    margin-bottom: 0%;
}

.box_bottom {
    height: 70%;
    margin-bottom: 5%;
    margin-right: 2.5%;

}

.box_button {
    display: flex;
    height: 2vw;

}

.btn_left {

    height: 100%;
    min-height: 100%;
    margin-right: 5%;
    margin-left: 24%;
    width: 25%;
    border: 2px solid #03DAC5;
    border-radius: 5px;
    color: #03DAC5;
    text-align: center;
    cursor: pointer;
}


.btn_left:hover {
    transform: scaleX(1.5);
    transform-origin: right center;
}

.btn_left:hover .icon {
    transform: scale(1);
    margin-right: 75%;
 
}

.btn_left:hover .icon + .txt_hidded {
    display: flex;
    margin-top: -18%;
    margin-left: 20%;
    transform: scaleX(0.7);
 
  
 }
 
 


.btn_right:hover {
    transform: scaleX(1.5);
    transform-origin: left center;
}

.btn_right:hover .icon {
    transform: scale(1);
    margin-left: 75%;
 
}


.btn_right:hover .icon + .txt_hidded {
   display: flex;
   margin-top: -18%;
   margin-left: 20%;
   transform: scaleX(0.7);

 
}



.btn_right {
    height: 100%;
    width: 25%;
    border: 2px solid #03DAC5;
    border-radius: 5px;
    text-align: center;
    color: #03DAC5;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    min-width: 25%;
    

}

.icon {
    transform: scale(2);
    margin-top: 8%;
    

}

.txt_hidded{
    display: none;
}


.txt {
    margin-top: 10%;
    height: 50%;
    margin-left: 10%;


}

.txt_blue {
    color: #2DB6FE;
    font-size: larger;
}

.txt_green {
    color: #03DAC5;
    font-size: larger;
}




.box_select{
    width: 100%;
    height: auto;
    border-radius: 5px;

}

.container_select{
    width: 100%;
    height: 4vw;
    border: 2px solid #2DB6FE;
    border-radius: 5px;
    z-index: 1;
    margin-top: -15%;
    transition: ease-in-out 0.5s;
}

.box_help{
margin-bottom: 15%;
}

.select {
    max-width: 90%;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2%;
    border: 2px solid #2DB6FE;
    max-height: 99%;
    color: #2DB6FE;
    margin-top: -12%;
    
}

.select:focus + .container_select {

    height: 10vw;

}

.label_select{
    position: relative;
    left:15px;
    bottom:50px;
    transition: all 0.9s;
    z-index: 2;
    color: #2db6fe;
    padding: 4px;
}


/* ---------------- Begind  Responsive Management -------------------------  */

/* medium pc */

@media only screen and (min-width: 991px) and (max-width: 1500px) {




}

@media only screen and (min-width: 912px) and (max-width: 990px) {
    .txt { 
        margin-left: 16%;
    }

    .box_button {
        margin-left: -3%;    
    }
    
 
}

@media only screen and (min-width: 820px) and (max-width: 911px) {
    .txt {
      
        margin-left: 16%;
    
    
    }


}


@media only screen and (min-width: 800px) and (max-width: 819px) {
  

}

@media only screen and (min-width: 768px) and (max-width: 799px) {
    .txt {    
        margin-left: 16%;
    }

}

@media only screen and (min-width: 712px) and (max-width: 767px) {

   

}



/*  Tablet  Mode */
@media only screen and (min-width: 540px) and (max-width: 711px) {
    .txt {    
        margin-left: 16%;
    }



}

@media only screen and (min-width: 414px) and (max-width: 539px) {





}



/*  phone  Mode */
@media only screen and (min-width: 412px) and (max-width: 413px) {



}

@media only screen and (min-width: 390px) and (max-width: 411px) {




}

@media only screen and (min-width: 375px) and (max-width: 389px) {



}

@media only screen and (min-width: 360px) and (max-width: 374px) {

}



@media only screen and (min-width: 280px) and (max-width: 359px) {



}

@media only screen and (max-width: 279px) {}

@media only screen and (max-width: 800px) {

 


}

/* ---------------- End  Responsive Management -------------------------  */