/*--------------imported css form ---------------------*/


.item {
    width: 100%;
    height: 5%;
    border-radius: 5px;
    padding: 2%;
    margin: 1%;
    border: solid #2DB6FE
}

.item:focus {

    border: solid #2DB6FE !important;
}

.errorMsg {
    color: red;
    width: 100%;
    padding: 1%;
    margin-top: -40px;
    margin-bottom: 2.5%;
    z-index: 1;
}

.text {
    margin-left: 10px;
    size: 3ch;
    font-family: 'Arial Narrow', Arial, sans-serif;
}


.section {
    width: 100%;
    height: 80%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-top: solid #2DB6FE;
    border-bottom: solid #2DB6FE;
    background-color: #fff;

}

.card {
    margin-left: -210px;
    margin-top: 230px;
}

.submit {
    width: 100%;
    height: 5%;
    border-radius: 5px;
    padding: 2%;
    margin-top: 15%;
    border: 2px solid #ffff;
    box-shadow: 2px 2px #2DB6FE;
    background-color: rgb(3, 218, 197);
    color: #ffff;
    font-weight: bold;
}


.disable {
    display: none;
}

/*--------------end imported css form ---------------------*/


.form {
    padding-left: 15%;
    padding-right: 15%;
}

.picture {
    opacity: 0.4;
}



.title {
    font-size: large;
    color: #2DB6FE;
    font-size: larger;
    margin-top: 3%;
    font-weight: bolder;
}

.row_center {
    margin-top: 5%;
    margin-bottom: -1%;
}

.eye_icon {
    margin-top: 3%;
    margin-left: 62%;
}

.box_pwd .eye_icon {
    position: absolute;

}


.box_button {
    display: flex;
    height: 2vw;
    width: 100%;
    justify-content: center;

}

.btn_left {

    height: 100%;
    min-height: 100%;
    margin-right: 5%;
    width: 25%;
    border: 2px solid #03DAC5;
    border-radius: 5px;
    color: #03DAC5;
    text-align: center;
    cursor: pointer;
}


.btn_left:hover {
    transform: scaleX(1.5);
    transform-origin: right center;
}

.btn_left:hover .icon {
    transform: scale(1);
    margin-right: 75%;

}

.btn_left:hover .icon+.txt_hidded {
    display: flex;
    margin-top: -18%;
    margin-left: 20%;
    transform: scaleX(0.7);


}


.btn_right {
    height: 100%;
    width: 25%;
    border: 2px solid #03DAC5;
    border-radius: 5px;
    text-align: center;
    color: #03DAC5;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    min-width: 25%;
}


.btn_right:hover {
    transform: scaleX(1.5);
    transform-origin: left center;
}

.btn_right:hover .icon {
    transform: scale(1);
    margin-left: 75%;

}


.btn_right:hover .icon+.txt_hidded {
    display: flex;
    margin-top: -18%;
    margin-left: 20%;
    transform: scaleX(0.7);


}




.icon {
    transform: scale(2);
    margin-top: 8%;


}

.txt_hidded {
    display: none;
}


.txt {
    width: 100%;
    margin-top: 10%;
    height: 50%;
    margin-bottom: 5%;

}

.txt_blue {
    color: #2DB6FE;
    font-size: larger;

}

.txt_blue_check {
    color: #2DB6FE;
    width: 60%;
    font-size: larger;
    margin-left: 2%;
    margin-right: 1%;

}


.txt_green {
    color: #03DAC5;
    font-size: larger;
}

.checkbox {
    width: 5%;

}

.box_flex {
    display: flex;
}

.box_right {
    width: 95%;
}

.hide {
    display: none;


}




/* ---------------- Begind  Responsive Management -------------------------  */
/*Begind Special responsive management icon */
@media only screen and (min-width: 992px) and (max-width: 1300px) {
    .eye_icon {
        margin-top: 5.4%;
        margin-left: 57%;
    }
}

@media only screen and (max-width: 524px) {
    .eye_icon {
        margin-top: 5%;
        margin-left: 57%;
    }
}

/*End Special responsive management icon */


/* medium pc */
@media only screen and (min-width: 1024px) and (max-width: 1500px) {
    .box_right {
        height: 2.5vw;
    }

    .box_flex {
        margin-bottom: 15vh;
    }

    .checkbox {
        width: 7%;
    }

    .txt_green,
    .txt_blue {
        width: 100%;
    }


}

@media only screen and (min-width: 991px) and (max-width: 1023px) {}


@media only screen and (min-width: 912px) and (max-width: 990px) {}

@media only screen and (min-width: 820px) and (max-width: 911px) {}


@media only screen and (min-width: 800px) and (max-width: 819px) {}

@media only screen and (min-width: 768px) and (max-width: 799px) {}

@media only screen and (min-width: 712px) and (max-width: 767px) {}



/*  Tablet  Mode */
@media only screen and (min-width: 540px) and (max-width: 711px) {
    .box_right {
        height: 6vw;
    }

    .box_flex {
        margin-bottom: 15vh;
    }

    .checkbox {
        width: 7%;
    }




}

@media only screen and (min-width: 414px) and (max-width: 539px) {
    .box_right {
        height: 6vw;
    }

    .box_flex {
        margin-bottom: 15vh;
    }

    .checkbox {
        width: 10%;
    }





}



/*  phone  Mode */
@media only screen and (min-width: 412px) and (max-width: 413px) {
    .box_right {
        height: 6vw;
    }

    .box_flex {
        margin-bottom: 15vh;
    }

    .checkbox {
        width: 10%;
    }



}

@media only screen and (min-width: 390px) and (max-width: 411px) {
    .box_right {
        height: 6vw;
    }

    .box_flex {
        margin-bottom: 15vh;
    }

    .checkbox {
        width: 10%;
    }






}

@media only screen and (min-width: 375px) and (max-width: 389px) {
    .box_right {
        height: 6vw;
    }

    .box_flex {
        margin-bottom: 15vh;
    }

    .checkbox {
        width: 10%;
    }

}

@media only screen and (min-width: 360px) and (max-width: 374px) {
    .box_right {
        height: 6vw;
    }

    .box_flex {
        margin-bottom: 15vh;
    }

    .checkbox {
        width: 10%;
    }


}



@media only screen and (min-width: 280px) and (max-width: 359px) {
    .box_right {
        height: 6vw;
    }

    .box_flex {
        margin-bottom: 25vh;
    }

    .checkbox {
        width: 7%;
    }




}

@media only screen and (max-width: 279px) {}

@media only screen and (max-width: 800px) {}

/* ---------------- End  Responsive Management -------------------------  */