
/* The whole structure  of the Signup page */ 
.main {
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('/skyscraper.png') center center fixed no-repeat;
  background-size: cover; 
  height: 135vh;
  margin-top: -42%;
  margin-bottom: -70%;
  width: 103.7%;
  margin-left: -2%;


} 


.global_row {
    margin-top: 39%;
    padding-top: 5%;
}


.bigcontainer {
    height: 38vw;
    margin-bottom: 1.3%;
    border: 2px solid #2DB6FE;
    border-radius: 6px;
    width: 100%;
    margin-top: 5%;
    min-height: 125%;
}



/* ---------------- Begind  Responsive Management -------------------------  */

 /* medium pc */
 @media only screen and (min-width: 991px) and (max-width: 1500px) {
  


 }
 
  @media only screen and (min-width: 912px) and (max-width: 990px) {
    .main {
     
        height: 80vh;  
      
    } 

  

 }
 
 @media only screen and (min-width: 820px) and (max-width: 911px) {
    .main {
     
        height: 89vh;  
      
    } 

 
 }
 
 
 @media only screen and (min-width: 800px) and (max-width: 819px) {
  
    .main {
     
        height: 80vh;  
      
    } 
      

 }
 
  @media only screen and (min-width: 768px) and (max-width: 799px) {
    .main {
     
        height: 95vh;  
      
    } 

  
 
 }
 
 @media only screen and (min-width: 712px) and (max-width: 767px) {
 
    .main {
     
        height: 80vh;  
      
    } 
      
    
    
   
 
 }
 
 
 
 /*  Tablet  Mode */
 @media only screen and (min-width: 540px) and (max-width: 711px) {    
    .main {
     
        height: 125vh;  
      
    } 

    
 }
 
 @media only screen and (min-width: 414px) and (max-width: 539px) {    
    .main {
     
        height: 80vh;  
      
    } 

    
    
 }
 
 
 
 /*  phone  Mode */
 @media only screen and (min-width: 412px) and (max-width: 413px) {
    .main {
     
        height: 75vh;  
      
    } 


    
      
 }
 
 @media only screen and (min-width: 390px) and (max-width: 411px) {
    .main {
     
        height: 80vh;  
      
    } 

    

    
      
 }
 
 @media only screen and (min-width: 375px) and (max-width: 389px) {
     .main {
     
        height: 80vh;  
      
    } 

    
      
 }
 
 @media only screen and (min-width: 361px) and (max-width: 374px) {
 

      
 }
 
 
 
 @media only screen and  (min-width: 280px) and (max-width: 360px) {
 
    .main {
     
        height: 105vh;  
      
    } 

    
    
      
 }
 
 @media only screen and (max-width: 279px) {
 

    
      
 }
 
 /* ---------------- End  Responsive Management -------------------------  */
 