.toggleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.label {
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
  color: #666;
  transition: color 0.3s ease;
}

.activeLabel {
  color: #333;
}

.toggleButton {
  width: 60px;
  height: 30px;
  background-color: green;
  border-radius: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}

.toggleButton:hover {
  background-color: #bbb;
}

/* Here is the style for the head of the toggle*/
.toggleCircle {
  width: 28px;
  height: 28px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  transition: transform 0.3s ease;
}

.left {
  transform: translateX(1px);
}

.right {
  transform: translateX(31px);
}
